@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-hover: #059669;
  --color-secondary: #3b82f6;
  --font-sans: "Inter", system-ui, sans-serif;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f3f4f6; /* gray-100 */
  color: #1f2937; /* gray-800 */
  margin: 0;
  min-height: 100vh;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
